<div>
  <mat-toolbar color="accent">
    <mat-toolbar-row>
      <span class="spacer">
        <a class="nav-link" [routerLink]="['/dashboard']"
         routerLinkActive="active"
    >Home</a>
  <a class="nav-link" [routerLink]="['/about']"
   routerLinkActive="active"
    >About</a>
      </span>  
      <span>
        <mat-icon [matMenuTriggerFor]="menu" class="menu-icon">menu</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>


