<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Pokemon Master Profile
        </mat-panel-title>
        <mat-panel-description>
            Click to show details
        </mat-panel-description>
    </mat-expansion-panel-header>

    <h2>Name : Hansen</h2><br />
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>PokeMaster Level</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h4>Level : 1000</h4>
        <h4>Experience : 0/1000000</h4>
        
    </mat-expansion-panel>

    <h3>Pokemon Favorite : Charizard</h3> <br />
    <h3>Team : XCN</h3>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3>Resources</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <h4>Pokemon Coin : 1000</h4>
        <h4>Diamond : 120</h4>
    </mat-expansion-panel>
    
    


</mat-expansion-panel>