<h1>Pokemon Shop</h1>
<div>
    <mat-card>
        <mat-card-title>
            Pokeball
        </mat-card-title>
        <mat-card-content>
            <p>Use to catch a low level pokemons</p>
            Price : $30000
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Buy</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Giant Pokeball
        </mat-card-title>
        <mat-card-content>
            <p>Use to catch bigger pokemons</p>
            Price : $60000
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Buy</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Meth
        </mat-card-title>
        <mat-card-content>
            <p>This item will boost your stamina and health by 100</p>
            Price : $120000
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Buy</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Tranquilizer
        </mat-card-title>
        <mat-card-content>
            <p>Shoot this tranquilizer to pokemons in case of emergency</p>
            Price : $50000
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Buy</button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Weed
        </mat-card-title>
        <mat-card-content>
            <p>Smoke Weed Everyday</p>
            Price : $420000
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button>Buy</button>
        </mat-card-actions>
    </mat-card>
</div>
